body {
  background-color: #121212;
  font-family: 'Archia webfont', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.sl--container {
  position: relative;
  width: 80%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.sl--logo {
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.8px;
  text-decoration: none;
}

.sl--header-w {
  margin-top: 10vh;
}

.sl--menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.sl--menu-item {
  height: auto;
  margin-left: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #8c8c8c;
  font-size: 16px;
  text-align: right;
  text-decoration: none;
}

.sl--menu-item:hover {
  color: hsla(357.70334928229664, 0.00%, 100.00%, 1.00);
}

.sl--logo-img {
  width: 100px;
  height: 80px;
  float: left;
}

.sl--menu-w {
  float: right;
}

.sl--hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  margin-bottom: 12vh;
  padding-bottom: 10vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.sl--h-hero {
  font-size: 54px;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: -2px;
}

.sl--content {
  position: relative;
  z-index: 1;
  padding-top: 8px;
}

.sl--role {
  display: inline-block;
  color: hsla(357.70334928229664, 85.31%, 51.96%, 1.00);
}

.sl--hero-footer {
  position: absolute;
  bottom: 0px;
}

.sl--scroll-down {
  display: inline-block;
  color: #8c8c8c;
  text-decoration: none;
}

.sl--menu-toggle {
  display: none;
}

.sl--line {
  width: 40px;
  height: 1px;
}

.sl--fi {
  position: absolute;
  height: 24px;
  opacity: 1;
}

.sl--fi:hover {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.sl--fi.fi-1 {
  left: 5%;
  top: 25%;
}

.sl--fi.fi-2 {
  left: 40%;
  top: -5%;
}

.sl--fi.fi-2 {
  left: 50%;
  top: 10%;
}

.sl--fi.fi-3 {
  left: 90%;
  top: 40%;
}

.sl--fi.fi-4 {
  left: 30%;
  top: 70%;
}

.sl--fi.fi-5 {
  left: 55%;
  top: 93%;
}

.sl--fi.fi-6 {
  left: 60%;
  top: 35%;
}

.sl--fi.fi-7 {
  left: 84%;
  top: 84%;
}

.sl--fi.fi-8 {
  left: 8%;
  top: 79%;
}

.sl--flying-icons {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.sl--footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 20vh;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #8c8c8c;
  color: #8c8c8c;
}

.sl--contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sl--link {
  display: inline-block;
  border-bottom: 2px solid #8c8c8c;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #8c8c8c;
  text-decoration: none;
}

.sl--link:hover {
  border-bottom: 2px solid hsla(357.70334928229664, 85.31%, 51.96%, 1.00);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: hsla(357.70334928229664, 85.31%, 51.96%, 1.00);
}

.sl--h-contact {
  color: #121212;
  font-size: 54px;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: -2px;
}

.sl--portfolio {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 54px;
  grid-row-gap: 100px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 54px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 100px auto 100px auto 100px auto 100px auto 100px auto;
  grid-template-rows: auto auto auto auto auto auto;
}

.sl--portfolio-item {
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transform: perspective(0px) perspective(2000px);
  transform: perspective(0px) perspective(2000px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #8c8c8c;
  text-decoration: none;
}

.sl--portfolio-item:hover {
  -webkit-transform: translate(0px, -5px) perspective(0px) perspective(2000px);
  transform: translate(0px, -5px) perspective(0px) perspective(2000px);
  color: #fff;
}

.sl--portfolio-thumb {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.sl--portfolio-type {
  margin-top: 24px;
  margin-bottom: 12px;
  text-transform: none;
}

.sl--portfolio-title {
  margin-top: 6px;
  color: #fff;
  font-weight: 400;
  letter-spacing: -1px;
}

.sl--footer-text-right {
  position: absolute;
  right: 0px;
  color: #8c8c8c;
}

.sl--link-footer {
  margin-left: 24px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #8c8c8c;
  text-decoration: none;
}

.sl--link-footer:hover {
  color: #121212;
}

.sl--fi-point {
  height: 24px;
  opacity: 1;
  -webkit-transition: all 5000ms cubic-bezier(.075, .82, .165, 1);
  transition: all 5000ms cubic-bezier(.075, .82, .165, 1);
}

.sl--fi-string {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sl--fi-string.s-1 {
  left: 29%;
  top: 85%;
}

.sl--fi-string.s-2 {
  left: 68%;
  top: 48%;
}

.sl--fi-line {
  width: 100%;
  height: 2px;
  margin-right: 6px;
  margin-left: 6px;
  background-color: #363636;
}

.sl--content-title {
  margin-bottom: 24px;
  font-weight: 400;
  letter-spacing: -2px;
}

.sl--wrapper {
  position: relative;
  overflow: hidden;
}

.sl--bg-sanbron {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.sl--about {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 54px;
  grid-row-gap: 100px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.75fr 54px 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sl--about-item {
  position: relative;
}

.sl--p-about {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 32px;
}

.sl--portfolio-desc {
  color: #fff;
}

.sl--fi-layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.sl--thumb-w {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.sl--portfolio-link {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 2;
  padding: 12px 16px;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 hsla(0, 0%, 7%, .1);
  color: #121212;
}

.sl--fab {
  font-family: 'Fa brands 400', sans-serif;
}

.sl--fab.fab-l {
  margin-right: 8px;
}

.sl--thumb-gloss {
  position: absolute;
  top: 0px;
  z-index: 1;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: hsla(0, 0%, 100%, .4);
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

.sl--about-thumb {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.sl--about-divider {
  width: 100%;
  height: 1px;
  margin-top: 42px;
  margin-bottom: 32px;
  background-color: #363636;
}

.sl--data-w {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 16px 0.75fr 16px 0.75fr;
  grid-template-columns: 1fr 0.75fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sl--about-label {
  margin-bottom: 12px;
  color: #8c8c8c;
  text-transform: uppercase;
}

.sl--about-value {
  font-size: 18px;
}

.sl--about-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  margin-bottom: 15vh;
  padding-top: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sl--help-img {
  height: 120px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sl--grid-item {
  -webkit-perspective: 2000px;
  perspective: 2000px;
  -webkit-transform: perspective(0px) perspective(2000px);
  transform: perspective(0px) perspective(2000px);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #8c8c8c;
  text-decoration: none;
}

.sl--grid-item:hover {
  -webkit-transform: perspective(0px) perspective(2000px);
  transform: perspective(0px) perspective(2000px);
  color: #fff;
}

.sl--help-title {
  margin-top: 6px;
  color: #fff;
  letter-spacing: -1px;
}

.sl--help-desc {
  color: #8c8c8c;
  font-size: 16px;
  line-height: 32px;
}

.sl--portfolio-video {
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.sl--fa {
  font-family: 'Fa solid 900', sans-serif;
}

.sl--fa.fa-l {
  margin-right: 8px;
}

.sl--helps {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 54px;
  grid-row-gap: 100px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 54px 1fr 54px 1fr 54px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sl--about-section {
  margin-bottom: 15vh;
}

.sl--stuffs {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 54px;
  grid-row-gap: 52px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 54px 1fr 54px 1fr 54px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media (max-width: 991px) {
  .sl--menu {
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sl--menu-item {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom-style: none;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  .sl--menu-item:hover {
    border-bottom-style: none;
  }
  .sl--logo-img {
    position: relative;
    z-index: 4;
  }
  .sl--menu-w {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    display: none;
    float: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: rgba(28, 28, 28, .95);
  }
  .sl--h-hero {
    font-size: 42px;
    line-height: 56px;
  }
  .sl--hero-footer {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }
  .sl--menu-toggle {
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 80px;
    float: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    cursor: pointer;
  }
  .sl--line {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #8c8c8c;
  }
  .sl--footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .sl--h-contact {
    font-size: 42px;
    line-height: 56px;
  }
  .sl--portfolio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 100px;
    grid-template-areas: ".";
  }
  .sl--portfolio-item {
    margin-bottom: 65px;
  }
  .sl--footer-text-right {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sl--link-footer {
    margin-right: 12px;
    margin-left: 12px;
  }
  .sl--about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 100px;
    grid-template-areas: ".";
  }
  .sl--about-item {
    width: 100%;
    margin-bottom: 24px;
  }
  .sl--about-thumb {
    width: 60%;
  }
  .sl--about-content {
    height: auto;
    margin-top: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .sl--grid-item {
    margin-bottom: 42px;
  }
  .sl--portfolio-video {
    display: none;
  }
  .sl--helps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 100px;
    grid-template-areas: ".";
  }
  .sl--stuffs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 100px;
    grid-template-areas: ".";
  }
}

@media (max-width: 767px) {
  .sl--h-hero {
    font-size: 32px;
    line-height: 46px;
  }
  .sl--h-contact {
    font-size: 32px;
    line-height: 46px;
  }
  .sl--link-footer {
    margin-bottom: 6px;
  }
  .sl--content-title {
    font-size: 32px;
    line-height: 46px;
  }
  .sl--bg-sanbron {
    width: 506px;
    height: 900px;
    min-width: 506px;
  }
  .sl--about {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sl--portfolio-link {
    right: 12px;
    bottom: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
  }
  .sl--data-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sl--data {
    margin-bottom: 32px;
  }
}

@media (max-width: 479px) {
  .sl--hero {
    text-align: center;
  }
  .sl--h-contact {
    font-size: 8vw;
    line-height: 12vw;
    text-align: center;
  }
}

#web.w-node-96786b20065b-211dd2e7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6782f713a44f-211dd2e7 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-0074e5c07b49-211dd2e7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-62bae5743c03-211dd2e7 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-7f304fe33f16-211dd2e7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-7b1f5c09033a-211dd2e7 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-77e6e9407f43-211dd2e7 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#game.w-node-9bf195913d74-211dd2e7 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
}

#game.w-node-f3ad0299d10f-211dd2e7 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#game.w-node-56e884010b89-211dd2e7 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#art.w-node-f53c9353eb43-211dd2e7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-8fb79882137c-07f865aa {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b41ca1a62cae-07f865aa {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-94e1cc15f84c-07f865aa {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-949df3eb477b-07f865aa {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-e5e79db5e9b0-07f865aa {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-faa796bb6872-07f865aa {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6b11cf3b533b-07f865aa {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4500bbb7cce9-07f865aa {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@font-face {
  font-family: 'Archia webfont';
  src: url('../fonts/archia-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}